In [1]:
x = ['Ravi Prakash', 100, 22, 241652, 'Lucknow', 'Regional Manager', True, False]

In [2]:
data = {'name': 'Ravi Prakash', 'eid': 100,
        'age': 22, 'pincode': 241652, 'city': 'Lucknow',
        'desig': 'Regional Manager', 'is_married': True, 'have_children': True}

In [3]:
print(data)

{'name': 'Ravi Prakash', 'eid': 100, 'age': 22, 'pincode': 241652, 'city': 'Lucknow', 'desig': 'Regional Manager', 'is_married': True, 'have_children': True}

In [4]:
data['desig']

'Regional Manager'

In [5]:
data['name']

'Ravi Prakash'

In [6]:
data['age']= 23          #update

In [9]:
data

{'name': 'Ravi Prakash',
 'eid': 100,
 'age': 23,
 'pincode': 241652,
 'city': 'Lucknow',
 'desig': 'Regional Manager',
 'is_married': True,
 'have_children': True,
 'dept': 'Sales'}

In [7]:
data['dept']= 'Sales'    # adding data

In [8]:
data

{'name': 'Ravi Prakash',
 'eid': 100,
 'age': 23,
 'pincode': 241652,
 'city': 'Lucknow',
 'desig': 'Regional Manager',
 'is_married': True,
 'have_children': True,
 'dept': 'Sales'}

In [10]:
data.pop('is_married')    #remove

True

In [12]:
print(data)

{'name': 'Ravi Prakash', 'eid': 100, 'age': 23, 'pincode': 241652, 'city': 'Lucknow', 'desig': 'Regional Manager', 'have_children': True, 'dept': 'Sales'}

In [13]:
# basic loop
for i in data:
    print(i)

name
eid
age
pincode
city
desig
have_children
dept

In [14]:
# actual loop
for k, v in data.items():
    print(k,v)

name Ravi Prakash
eid 100
age 23
pincode 241652
city Lucknow
desig Regional Manager
have_children True
dept Sales

In [15]:
# this also works
for i in data:
    print(i, data[i])

name Ravi Prakash
eid 100
age 23
pincode 241652
city Lucknow
desig Regional Manager
have_children True
dept Sales

In [16]:
# odd indexes from a list
x = [1, 2, 3, 4, 5, 6, 7]
x_odd = x[1::2]
print(x)
print(x_odd)

[1, 2, 3, 4, 5, 6, 7]
[2, 4, 6]

In [17]:
x = [1, 2, 3, 4, 5, 6, 7]
x_odd = []
for i, v in enumerate(x):
    if i % 2 != 0:
        x_odd.append(v)
print(x_odd)

[2, 4, 6]

In [21]:
user_data = {}
for i in range(5):
    key = input("enter name?")
    val = input("enter value =>")
    user_data[key] = val

print(user_data)

In [1]:
# store student marks in a dict
report = {
    'Raja': {
        'eng' : [50, 80],
        'hindi' : [40, 83],
        'maths' : [39, 59],
    },
    'Rani' : {
        'eng' : [29, 49],
        'hindi' : [40, 70],
        'maths' : [2,1],
    },
}

In [2]:
report['Raja'] ['Comp'] = 90
report

{'Raja': {'eng': [50, 80], 'hindi': [40, 83], 'maths': [39, 59], 'Comp': 90},
 'Rani': {'eng': [29, 49], 'hindi': [40, 70], 'maths': [2, 1]}}

In [3]:
report['Rani'] ['hindi']

[40, 70]

In [5]:
for name, marks in report.items():
    print(name)
    for subject, val in marks.items():
        print(f' => {subject} = {val}')

Raja
 => eng = [50, 80]
 => hindi = [40, 83]
 => maths = [39, 59]
 => Comp = 90
Rani
 => eng = [29, 49]
 => hindi = [40, 70]
 => maths = [2, 1]

In [1]:
# wap to create a contact dictionary, which will have some names and phone numbers. 
# The user can search for a name through input. If the name is in the dictionary, then display the phone number else, 
# ask the user to add the number of the person by him/her self.
# contact = {'police': 112, 'hospital': 109}

In [6]:
ord('A')

65